# Required
# Default: none, must be set
DSN=postgres://hydra:hydra@hydra-postgres:5432/hydra?sslmode=disable

# Required
# Default: none, must be set
HYDRA_PUBLIC_URL=http://localhost:4444

# Required
# Default: none, must be set
HYDRA_ADMIN_URL=http://localhost:4445

# Required
# Default: none, must be set
LOGIN_CONSENT_URL=http://localhost:3000

# Required
# Default: none, must be set
WILDCARD_DOMAINS_URL=http://localhost:5173

# Required
# Default: none, must be set
HYDRA_ADMIN_CORS_ORIGIN=http://localhost:3001

# Required
# Default: none, must be set
SYSTEM_SECRET=replace-with-a-long-random-secret

# Required
# Default: none, must be set
COOKIE_SECRET=replace-with-a-long-random-secret

# Required
# Default: none, must be set
PAGINATION_SECRET=replace-with-a-long-random-secret

# Required
# Default: none, must be set
COOKIE_DOMAIN=localhost

# Optional
# Default: true
RUN_MIGRATIONS=true

# Optional
# Default: --dev
HYDRA_EXTRA_ARGS=--dev
